<li>
  <%= gravatar_for user,size:50 %>
  <span class="user"><%= link_to user.name,user %></span>
  <span class="content">&nbsp;</span>
  <span class="timestamp">&nbsp;</span>
</li>



     <!--nbspノーブレイクスペース　改行なしの空白-->
     
<!--そう言えばここってなんで単数形のuserなんですか?? @usersなのかと思いました-->
    